{% block style %}
<style>
  .search-bar {
    width: 100% !important;
  }
</style>
{% endblock style %}

<nav class="navbar navbar-expand-xl navbar-dark bg-navbar-cust">
  <!-- Button Hamburger -->
  <div class="col-2 text-center">
    <div class="ms-1">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon" style="color: #EFEBEC;"></span>
      </button>
    </div>
  </div>

  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-navbar-cust">
      <h5 class="offcanvas-title" style="color: #EFEBEC; font-size: 22px;" id="offcanvasExampleLabel">Plastic Shop</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body text-center" style="background-color: #EDDADC;">
      {% if user.is_superuser %}
      <div class="row">
        <a href="/admin" target="_blank" class="text-muted mb-0">Admin</s>
      </div>
      <hr style="color: black;">
      <div class="row">
        <a href="{% url 'data_pelanggan' %}" class="text-muted mb-0">Pelanggan</a>
      </div>
      <hr style="color: black;">
      <div class="row">
        <a href="{% url 'gudang' %}" class="text-muted mb-0">Gudang</s>
      </div>
      <hr style="color: black;">
      {% elif user.is_staff %}
      <div class="row">
        <a href="{% url 'gudang' %}" class="text-muted mb-0">Gudang</s>
      </div>
      <hr style="color: black;">
      {% endif %}
      <div class="row">
        <a href="{% url 'collections' %}" class="text-muted mb-0">Shop</s>
      </div>
      <hr style="color: black;">
      <div class="row">
        <a href="{% url 'wishlist' %}" class="text-muted mb-0">Wishlist</s>
      </div>
      <hr style="color: black;">
      <div class="row">
        <a href="{% url 'cart' %}" class="text-muted mb-0">Keranjang</s>
      </div>
      <hr style="color: black;">
      <div class="row">
        <a href="{% url 'myorders' %}" class="text-muted mb-0">Transaksi</s>
      </div>
      <hr style="color: black;">
    </div>
    <div class="offcanvas-footer bg-navbar-cust">
      <h5 class="offcanvas-title text-center py-1" style="color: #EFEBEC; font-size: 12px;">&copy; ZpaPrjct | 2023
      </h5>
    </div>
  </div>

  <div class="col-8 text-center">
    <a class="" style="color: #EFEBEC; font-size: 22px;" href="{% url 'home' %}">Plastic Shop</a>
  </div>
  <div class="col-2 text-center">
    <a class="btn btn-outline-light text-light rounded-circle" href="{% url 'profile' %}"><i
        class="far fa-user"></i></a>
  </div>
  </div>

</nav>
<nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-navbar-cust">
  <div class="search-bar mt-1 mx-2">
    <form action="{% url 'searchproduct' %}" method="POST">
      {% csrf_token %}
      <div class="input-group mb-1">
        <input type="search" required class="form-control search-input" name="productsearch" id="searchproducts"
          placeholder="Cari produk">
        <button type="submit" class="input-group-text search-button"><i
            class="fa fa-search search-logo-button"></i></button>
      </div>
    </form>
  </div>
</nav>


{% block script %}
{% endblock script %}