{% extends 'store/mobile/layouts/main.html' %}

{% load static %}

{% block title %}
Data Pelanggan
{% endblock title %}

{% block content %}

{% include 'store/mobile/inc/navbar.html' %}

<div class="container py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb" class="bg-light rounded-3 p-1 mb-2" style="font-size: 12px;">
        <div class="container">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'data_pelanggan' %}">Data
                Pelanggan</a></li>
          </ol>
        </div>
      </nav>
    </div>
  </div>
  <h6 style="font-size: 18px;">Data Pelanggan</h6>
  <hr />
  <div class="card shadow">
    <div class="card-body wishdata">
      <table class="table table-bordered mt-4 mb-4" border="9">
        <thead class="thead-light">
          <tr>
            <th class="text-center" scope="col" style="font-size: 13px; width: 2%">ID</th>
            <th class="text-center" scope="col" style="font-size: 13px; width: 10%">Pengguna</th>
            <th class="text-center" scope="col" style="font-size: 13px; width: 17%">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in pelanggan %}
          <tr>
            <td style="font-size: 13px;">{{ user.id }}</td>
            <td style="font-size: 13px;" class="text-center">{{ user.username }}</td>
            <td>
              <a class="btn btn-warning me-1" style="font-size: 11px;"
                href="{% url 'ubah_data_pelanggan' user.id %}">Ubah</a>
              <button class="btn btn-danger ms-1" style="font-size: 11px;" data-bs-toggle="modal"
                data-bs-target="#hapus-{{ user.id }}">Hapus</button>
            </td>
            <div class="modal" id="hapus-{{ user.id }}">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="modal-title">Hapus</div>
                  </div>
                  <div class="modal-body">Apakah anda yakin ingin menghapus produk <strong> {{ produk.name |
                      upper}}</strong>?</div>
                  <div class="modal-footer">
                    <button class="btn btn-dark" data-bs-dismiss="modal">Batal</button>
                    <a href="{% url 'hapus_data_pelanggan' user.id %}" class="btn btn-danger">Hapus</a>
                  </div>
                </div>
              </div>
            </div>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}