{% extends 'store/mobile/layouts/main.html' %}

{% load static %}
{% load humanize %}

{% block title %}
Keranjang
{% endblock title %}

{% block style %}
<style>
    .text-xxl {
        font-size: 20px;
    }

    .text-xl {
        font-size: 18px;
    }

    .text-l {
        font-size: 16px;
    }

    .text-m {
        font-size: 14px;
    }

    .text-s {
        font-size: 12px;
    }

    .text-xs {
        font-size: 10px;
    }

    .text-xxs {
        font-size: 8px;
    }
</style>
{% endblock style %}

{% block content %}

{% include 'store/mobile/inc/navbar.html' %}


<div class="container py-3">
    <div class="cartdata">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-1 mb-2 text-s">
                    <div class="container">
                        <ol class="breadcrumb mb-0 text-xs">
                            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a
                                    href="{% url 'cart' %}">Keranjang</a>
                            </li>
                        </ol>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-1">
                {% if cart %}
                <div class="row">
                    <div class="col-12">
                        {% for item in cart %}
                        <div class="card-body mb-2">
                            <div class="card shadow product_data">
                                <div class="p-3">
                                    <div class="row">
                                        <div class="col-2">
                                            <img src="{{ item.product.product_image.url }}" class="card-img-top"
                                                style="width: 50px;" alt="Image product" />
                                        </div>
                                        <div class="col-10 text-s mb-2">
                                            <div>{{ item.product.name }}</div>
                                            <label class="text-muted mb-1 text-xs">
                                                {{ item.product.size }}</label>
                                            <br>
                                            Rp {{ item.product.selling_price | stringformat:'d' | intcomma }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8" align="center">
                                            <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                                            {% csrf_token %}
                                            {% if item.product.stok >= item.product_qty %}
                                            <div class="input-group text-center" style="width:130px;">
                                                <button class="input-group-text changeQuantity decrement-btn">-</button>
                                                <input type="text" name="quantity"
                                                    class="form-control qty-input text-center text-s"
                                                    value="{{ item.product_qty }}"></button>
                                                <button class="input-group-text changeQuantity increment-btn">+</button>
                                            </div>
                                            {% else %}
                                            <h6>Of out stock</h6>
                                            {% endif %}
                                        </div>

                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-12" align="center">
                                                    <button class="btn btn-danger delete-cart-item text-s"><i
                                                            class="fa fa-trash"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between text-s">
                                    <div></div>
                                    <div>
                                        <a href="{% url 'chechout' %}"
                                            class="btn btn-outline-success text-s">Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="table-wishlist">
                    <div class="card shadow">
                        <div class="card-body wishdata">
                            <h6 class="mb-3 text-center">Keranjang Anda kosong</h6>
                            <div class="text-center">
                                <a href="{% url 'collections' %}" class="btn border text-s">Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}