{% extends 'store/mobile/layouts/main.html' %}

{% load static %}
{% load humanize %}



{% block style %}
<style>
    .text-xxl {
        font-size: 20px;
    }

    .text-xl {
        font-size: 18px;
    }

    .text-l {
        font-size: 16px;
    }

    .text-m {
        font-size: 14px;
    }

    .text-s {
        font-size: 12px;
    }

    .text-xs {
        font-size: 10px;
    }

    .text-xxs {
        font-size: 8px;
    }
</style>
{% endblock style %}


{% block content %}

{% include 'store/mobile/inc/navbar.html' %}


<div class="container py-3" style="margin-bottom: 30%;">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-1 mb-2 text-s">
                <div class="container">
                    <ol class="breadcrumb mb-0 text-xs">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a
                                href="{% url 'wishlist' %}">Wishlist</a>
                        </li>
                    </ol>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-1 ms-1">
            <div class="wishdata">
                <div class="row">
                    {% if wishlist %}
                    {% for item in wishlist %}
                    <div class="col-6 mb-3">
                        <div class="card product_data">
                            <a href="{% url 'productview' item.product.kategori.slug item.product.slug %}">
                                <div class="category-image">
                                    <img src="{{ item.product.product_image.url }}" class="card-img-top"
                                        alt="Image product" />
                                    <div class="p-2">
                                        <div class="text-dark">
                                            <span class="text-title text-m">{{ item.product.name }}
                                            </span>
                                            <p class="mb-2 text-xs">
                                                {{ item.product.size }}</p>
                                        </div>

                                        <div class="d-flex justify-content-between">
                                            <p class="text-dark mb-0 text-m">
                                                Rp
                                                {{ item.product.selling_price | stringformat:'d' | intcomma }}
                                            </p>
                                        </div>
                                        <div class="d-flex justify-content-between mb-1">
                                            <input type="hidden" class="prod_id" value="{{ item.product_id }}">
                                            {% csrf_token %}
                                            <p class="text-dark mb-0 text-xs">Stok: <span class="fw-bold">
                                                    {{ item.product.stok }}</span>
                                            </p>
                                            <button class="btn btn-outline-dark delete-wishlist-item text-xs"><i
                                                    class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <h6 class="text-center mb-3">Wishlist Anda kosong</h6>
                                <div class="text-center">
                                    <a href="{% url 'collections' %}" class="btn border text-xs">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}