.bg-navbar-cust {
    background: #234143;
}

.link-cust a {
    color: #01325d;
    margin: 0 30px 0 10px;
    letter-spacing: 1.5px;
}

/* navigation link with right border */
.first-link-cust {
    padding-right: 3px;
    border-right: solid 1px #ccc;
}

.search-bar {
    width: 35% !important;
}

.search-input {
    height: 30px !important;
}

.search-button {
    height: 30px !important;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }

    .navbar .nav-item:hover .nav-link {}

    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }

    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}